{% extends 'base.html.twig' %} 

{% block body %}

    
    {# {{ dump(errors) }} #}

    <div class="p-4 mx-5 mb-4 bg-light rounded-3">
        {{ form(form) }}

        <div>
            {% for error in errors %}
                <p>{{ error.message }}</p>
            {% endfor %}
        </div>
    </div>
    
    
    

    <div class="px-5 mb-4">
        {% for comment in comments %}
            <p class="py-3 border-bottom">{{ comment.body | markdown_to_html }}</p>
        {% endfor %}
    </div>

{% endblock %}