{% extends 'base.html.twig' %} 

{% block body %}

    <h1 class="text-center"> Welcome, página home </h1>

    {{ dump(errors) }}

    <div>
        {{ form(form) }}

        
    </div>
    
    <div>
        {% for error in errors %}
            <p>{{ error.message }}</p>
        {% endfor %}
    </div>
    

    <div>
        {% for comment in comments %}
            <p>{{ comment.body }}</p>
        {% endfor %}
    </div>

{% endblock %}